In [1]:
# Dependencies and Setup
import pandas as pd

In [8]:
# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_df = pd.read_csv(school_data_to_load)
student_df = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_student_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [6]:
student_data

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [22]:

# Combination of two files in one DataFrame
school_student_df.head(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

In [39]:
#Calculate the total number of schools
total_schools_df=school_student_df['school_name'].value_counts()
total_schools_df.count()

15

In [43]:
#Calculate the total number of students
total_students_df=sum(school_student_df['student_name'].value_counts())
total_students_df

39170

In [61]:
#Calculate the total budget
total_budget=school_student_df["budget"].sum()
total_budget

82932329558

In [60]:
#Calculate the average math score 
average_math_score=school_student_df["math_score"].mean()
average_math_score.round(6)

78.985371

In [59]:
#Calculate the average reading score
average_reading_score=school_student_df["reading_score"].mean()
average_reading_score.round(5)

81.87784

In [66]:
#Calculate the percentage of students with a passing math score
students_pass_math_score=school_student_df["math_score"].count() >=average_math_score
students_pass_math_score

True

In [ ]:
#(70 or greater)Calculate the percentage of students with a passing reading score

In [ ]:






#(70 or greater)Calculate the percentage of students who passed math and reading
#(% Overall Passing)
#Create a dataframe to hold the above results
#Optional: give the displayed data cleaner formatting